body {
  margin: unset;
  background-color: #232533;
}

#root {
  padding-top: 4rem;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  font-family: Roboto, sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
  color: white;
}

.text-primary {
  color: #348fff;
}